<article class="pl3 pr3">
  <h1 class="f3 mb0"><%- page.title %></h1>
  <% if (is_post()) { %>
    <span class="f6 blue"><%- page.date.format('YYYY-MM-DD HH:mm:ss dddd'); %></span>
  <% } %>
  <div class="article-body"><%- page.content %></div>
</article>
